@import 'styles/_mixins.scss';

.filter-cards {
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    @include media('<desktop-sm') {
      margin-bottom: 10px;
    }

    @include media('<tablet') {
      display: block;
      text-align: center;
    }
  }

  &__section-line {
    display: none;

    @include media('<tablet') {
      display: block;
      width: calc(100% + 40px);
      margin: 0 -20px 20px;
      margin-top: 5px;
    }
  }

  &__title {
    color: var(--dark-2);
    font-size: 24px;
    font-weight: 300;

    @include media('<tablet') {
      font-size: 18px;
    }
  }

  .slider-btn {
    border: 1px solid var(--line);

    &:hover {
      border: 1px solid #4a4f52;
    }

    @include media('<desktop-sm') {
      width: 50px;
      height: 50px;
      border: none;

      &:hover {
        border: none;
        background-color: white;

        .slider-btn__icon {
          fill: var(--hover);
        }
      }
    }

    @include media('<tablet') {
      width: 20px;
      height: 30px;
      padding: 0;
      margin: 0;
      background-color: rgba(0, 0, 0, 0);

      .slider-btn__icon {
        fill: var(--hover);
        height: 30px;
        width: 30px;
      }
    }
  }

  &__slider-btns {
    @include media('<tablet') {
      position: absolute;
      z-index: 10;
      top: 50%;
      display: flex;
      width: calc(100% - 20px);
      justify-content: space-between;
      transform: translateY(-50%);
    }
  }
}

.swiper-container-filter {
  position: relative;
  overflow: hidden;

  .swiper-slide {
    width: calc(20% - 12px);

    @include media('<desktop') {
      width: calc(25% - 12px);
    }

    @include media('<tablet') {
      padding: 0 25px;
    }
  }
}