@import 'styles/_mixins.scss';

.container--mobile-hidden {
  padding: 0;
}

.filter {
  &__main {
    margin-top: 50px;
    margin-bottom: 40px;

    @include media('<tablet') {
      overflow: hidden;
      max-height: 0;
      padding: 0 10px;
      margin-top: 0;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
      opacity: 0;
      transition: max-height var(--transition) ease, margin var(--transition) ease, opacity 0.4s ease;

      &.is-open {
        overflow: visible;
        margin-bottom: 18px;
        opacity: 1;
      }
    }
  }

  &__main-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    //margin: 0 -10px;

    @include media('<tablet') {
      display: block;
      text-align: right;
    }
  }

  &__item {
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 35px;

      @include media('<tablet') {
        margin-right: 0;
      }
    }

    &.filter__type {
      @include media('<1000') {
        order: 4;
        margin-top: 10px;
      }

      @include media('<tablet') {
        order: 4;
        margin-top: 40px;
      }
    }

    &.filter__btn {
      margin-top: 35px;
      margin-left: auto;
    }
  }

  &__item-title {
    margin-right: 15px;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0.4px;

    @include media('>tablet', '<desktop') {
      &--tablet-top {
        color: transparent;

        &::after {
          position: absolute;
          top: -15px;
          left: 0;
          color: var(--black);
          content: attr(data-tablet-text);
        }
      }
    }

    @include media('<tablet') {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__type {
    display: flex;
    align-items: center;
  }

  &__checkbox-wrapper {
    display: flex;
    align-items: center;
  }

  &__checkbox {
    position: relative;
    width: 20px;
    height: 20px;

    &:not(:last-child) {
      margin-right: 13px;
    }

    &:nth-child(2) {
      height: 32px;
    }

    &:nth-child(3) {
      width: 32px;
    }
  }

  &__checkbox-input {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;

    &:checked {
      & + .filter__checkbox-label {
        background-color: var(--dark-3);
      }
    }
  }

  &__checkbox-label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--line);

    cursor: pointer;
  }

  &__more {
    position: relative;

    @include media('<tablet') {
      // max-height: 0;
      display: none;
      // overflow: hidden;
      // transition: max-height var(--transition) ease;

      // &.is-open {
      //   display: block;
      //   overflow: visible;
      //   // max-height: 5000px;
      // }
    }
  }

  &__btn {
    display: inline-flex;
    min-width: 200px;
    align-items: center;
    padding: 10px 13px 10px 30px;
    border: 1px solid #e4e4e4;
    color: var(--black);
    cursor: pointer;
    font-size: 14px;
    transition: background-color var(--transition) ease, color var(--transition) ease, border-color var(--transition) ease;

    @include media('<tablet') {
      display: flex;
      border: 1px solid #c2c2c2;
      margin-right: auto;
      margin-left: auto;
      //text-align: center;
    }

    &--show {
      position: relative;
      margin-left: auto;
      background-color: var(--white);
      transition: bottom 0.4s ease-in;

      @include media('<tablet') {
        bottom: 0;
      }

      &[aria-expanded='true'] {
        bottom: 0;
        transition: bottom 0.2s linear;

        @include media('<tablet') {
          bottom: 0;
          border-bottom: none;
        }

        .dropdown-icon {
          transform: rotate(180deg);
        }
      }
    }

    .dropdown-icon {
      width: 14px;
      height: 9px;
      margin-left: 23px;
      fill: var(--black);
      transition: transform var(--transition) ease;
    }

    &:hover {
      border-color: var(--black);
      background-color: var(--black);
      color: white;

      .reset-icon,
      .dropdown-icon {
        fill: var(--white);
      }
    }
  }

  &__btn-wrapper {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: right;
    transform: translateY(50%) translateX(-50%);

    @include media('<tablet') {
      position: static;
      margin-bottom: -1px;
      transform: translateY(0) translateX(0);
    }
  }

  &__reset-icon {
    margin-left: 23px;
    fill: var(--black);
  }

  &__tabs {

    @include media('<tablet') {
      &.is-open {
        border-top: 1px solid #c2c2c2;
      }
    }
  }

  &__tabs-nav {
    @include media('<tablet') {
      display: none;
    }
  }

  &__tabs-nav-list {
    display: flex;
  }

  &__tabs-nav-item {
    padding: 5px 15px 5px 20px;
    color: var(--black);
    cursor: pointer;
    font-size: 16px;
    transition: background-color var(--transition) ease;

    .dropdown-icon {
      margin-left: 5px;
      transition: transform var(--transition) ease;
    }

    &:hover {
      background-color: var(--line);
    }

    &.is-active {
      background-color: #f6f6f6;

      .dropdown-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__tabs-content {
    padding-top: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--line);
    background-color: #f6f6f6;

    @include media('<tablet') {
      padding-top: 0;
      padding-bottom: 0;
      background-color: var(--white);
    }
  }

  &__tab {
    display: none;

    &.is-active {
      display: block;
    }

    @include media('<tablet') {
      &:first-child {
        background-color: #f6f6f6;
      }
      display: block;
      padding: 0 20px;

      &:not(:last-child) {
        border-bottom: 1px solid #c2c2c2;
      }
    }
  }

  &__tab-body {
    padding: 0 20px;

    @include media('<tablet') {
      overflow: hidden;
      max-height: 0;
      padding: 0;
      opacity: 0;
      transition: max-height var(--transition) ease, opacity var(--transition) ease;

      &.is-open {
        overflow: visible;
        opacity: 1;
      }
    }
  }

  &__tab-body-inner {
    padding: 7px 0;

    @include media('<tablet') {
      padding: 0 0 7px 0;
    }
  }

  &__author {
    @include media('<tablet') {
      .filter__tab-body-inner {
        padding: 10px 0;
      }
    }
  }

  &__author-text {
    position: relative;
    margin-right: 12px;
    color: var(--dark-3);
    font-size: 16px;
    letter-spacing: 0.4px;

    @include media('<desktop') {
      align-self: flex-start;
      margin-bottom: 10px;
    }

    @include media('<tablet') {
      max-height: 20px;
      color: rgba(0, 0, 0, 0);

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--dark-3);
        content: attr(data-mobile-text);
        font-size: 15px;
      }
    }
  }
  //select

  &__author-select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    @include media('<desktop') {
      flex-direction: column;
      //align-items: flex-start;
    }

    .choices {
      position: relative;
      min-width: 620px;
      max-height: 40px;
      border: none;

      @include media('<desktop') {
        min-width: 100%;
      }

      &__inner {
        min-height: auto;
        padding: 4px 15px 4px;
      }

      &::after {
        position: absolute;
        top: 20px;
        right: 14px;
        width: 10px;
        height: 6px;
        background-image: url('/img/dropdown.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        color: black;
        content: '';
      }

      &.is-open {
        &::after {
          transform: rotate(180deg);
        }
      }

      &__input {
        background-color: var(--white);
      }

      &[data-type*=select-one]::after {
        width: 10px;
        height: 10px;
        border: none;
        background-image: url('/img/dropdown.svg');
        background-repeat: no-repeat;
        background-size: 100%;
      }

      &__heading {
        padding: 5px 10px;
        border-bottom: none;
        color: var(--black);
        font-size: 23px;
        font-weight: 600;
      }

      &__list--multiple {
        .choices__item--selectable {
          display: none;
        }
      }

      &__list--dropdown {
        z-index: 10;
        //min-height: 330px;
        max-height: 330px;
        border-radius: 0;

        &.is-hidden {
          .ps__rail-y {
            opacity: 0;
          }
        }

        @include media('<tablet') {
          width: calc(100% + 38px);
          padding-left: 25px;
          margin-left: -20px;
        }

        //custom-scroll


        .choices__item {
          padding: 5px 10px;
        }

        .choices__item--selectable.is-highlighted {
          background-color: var(--dark-3);
          color: var(--white);
        }

        &.is-active {
          box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.59);
        }
      }
    }
  }

  &__author-select {
    min-width: 620px;

    .choices__heading {
      color: var(--black);
    }
  }

  .js-autocomplete-item {
    position: relative;
    display: inline-block;
    padding: 2px 30px 2px 10px;
    border: 1px solid var(--line);
    margin-bottom: 12px;
    border-radius: 8px;
    color: var(--black);
    cursor: pointer;
    font-size: 16px;
    transition: border 0.1s linear;

    @include media('<tablet') {
      padding: 2px 30px 2px 8px;
      border-radius: 4px;
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }

    &:hover {
      border: 1px solid var(--dark-3);
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 10px;
      width: 12px;
      height: 12px;
      background-image: url('/img/close.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: '';
      transform: translateY(-50%) scale(0.8);

      @include media('<tablet') {
        right: 8px;
        transform: translateY(-50%) scale(0.7);
      }
    }
  }

  &__style-label {
    display: inline-block;
    padding: 2px 20px;
    border: 1px solid var(--line);
    border-radius: 8px;
    color: var(--dark-2);
    cursor: pointer;
    transition: border-color 0.1s linear;

    @include media('<tablet') {
      padding: 0 10px;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 600;
    }
  }

  &__style-input {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;

    &:checked + .filter__style-label {
      border: 1px solid var(--black);
      background-color: var(--black);
      color: var(--white);
    }
  }

  &__style-tag {
    position: relative;
    display: inline-block;
    margin-top: 7px;
    margin-right: 14px;
    margin-bottom: 7px;
    cursor: pointer;

    @include media('<tablet') {
      margin-right: 2px;
    }

    &:hover {
      .filter__style-label {
        border: 1px solid var(--black);
      }
    }
  }

  &__header {
    display: none;

    @include media('<tablet') {
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      //border-bottom: 1px solid var(--line);
      color: var(--black);
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.44px;
      transition: margin var(--transition) ease;

      &.is-open {
        margin-bottom: 10px;
      }

      &.is-open .filter__dropdown-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__settings-icon {
    margin-right: 24px;
  }

  &__dropdown-icon {
    margin-left: auto;
    transition: var(--transition) ease;
  }

  &__accordion-header {
    display: none;

    @include media('<tablet') {
      display: block;
      padding: 10px 20px;
      margin: 0 -20px;
      background-color: var(--white);
      color: var(--black);
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.35px;
    }
  }

  &__submit {
    display: none;

    @include media('<tablet') {
      display: block;
      padding: 10px 30px;
      border: 1px solid transparent;
      margin-top: 15px;
      background-color: rgba($color: #000000, $alpha: 0.8);
      color: var(--white);
    }
  }
}

.ui-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include media('<tablet') {
    display: block;
  }

  &__fields {
    position: absolute;
    top: -50px;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
  }

  &__field {
    display: block;
    padding: 6px 10px;
    margin: 0;
    background-color: #e3e6e8;
    color: var(--black);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    text-align: center;

    @include media('<tablet') {
      flex-grow: 1;
    }
  }

  &__field-separator {
    display: block;
    width: 7px;
    height: 1px;
    margin: 0 3px;
    background-color: var(--dark-3);
  }

  &__range-wrapper {
    display: flex;
    align-items: center;
  }

  &__range {
    position: relative;
    width: 226px;

    @include media('<desktop') {
      width: 178px;
    }

    @include media('<tablet') {
      //width: 208px;
      //width: 100%;
      flex-grow: 1;
    }

    &.noUi-horizontal {
      height: 4px;
      border: none;
    }

    &.noUi-target {
      padding-right: 16px;
      border-radius: 0;
    }

    .noUi-connects {
      width: calc(100% + 16px);
      margin-right: -16px;
      background-color: var(--line);
      border-radius: 0;
    }

    .noUi-connect {
      background-color: var(--black);
    }

    .noUi-handle {
      top: -8px;
      width: auto;
      height: auto;
      flex-basis: 0;
      padding: 8px;
      border: 2px solid var(--black);
      background-color: var(--line);
      border-radius: 50%;
      box-shadow: none;
      cursor: pointer;
      transition: background-color var(--transition) ease;

      &:hover {
        background-color: var(--black);
      }

      &::before,
      &::after {
        display: none;
      }

      &.noUi-active {
        background-color: var(--black);
      }
    }

    .noUi-pips {
      width: calc(100% - 12px);
      margin-left: 7px;

      &-horizontal {
        height: 25px;
      }
    }

    .noUi-marker {
      display: none;
    }

    .noUi-value {
      bottom: 0;
      color: var(--black);
      //cursor: pointer;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__min,
  &__max {
    position: absolute;
    bottom: -30px;
    color: var(--black);
    font-size: 13px;
    font-weight: 300;
  }

  &__min {
    left: 0;
  }

  &__max {
    right: 0;
  }

  &--type-price {
    padding: 20px 0;

    @include media('<tablet') {
      padding: 41px 0 20px;
      margin-bottom: 10px;

      .filter__item-title {
        margin-right: 30px;
      }
    }
  }

  &--type-size {
    position: relative;
    flex-direction: row;
    align-items: center;

    @include media('<desktop') {
      flex-direction: column;
      align-items: start;

      .filter__item-title {
        position: absolute;
        top: -45px;
        left: 0;
      }
    }

    @include media('<tablet') {
      display: flex;
      flex-direction: row;
      align-items: center;

      .filter__item-title {
        position: static;
      }
    }

    .ui-slider__range {
      width: 181px;

      @include media('<tablet') {
        width: 208px;
      }
    }
  }

  &__size-value {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }
}

.ps {
  padding-right: 30px;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;

  @include media('<tablet') {
    padding-right: 20px;
  }

  &__rail-y {
    position: absolute;
    right: 10px !important;
    bottom: 0;
    left: auto !important;
    width: 20px;
    padding: 20px 0;
    //height: calc(100% - 40px) !important;
    background: rgba($color: #cccccc, $alpha: 0.2);
    transform: scaleY(0.8);

    @include media('<tablet') {
      right: 0 !important;
      transform: scaleY(0.86);
    }

    &::before,
    &::after {
      position: absolute;
      right: 0;
      width: 20px;
      height: 20px;
      background-color: #e7e6e6;
      background-image: url('/img/dropdown.svg');
      background-position: 5px 8px;
      background-repeat: no-repeat;
      background-size: 10px;
      content: '';
      transform: scaleY(1.25);

      &:hover {
        background-color: #cbcdce;
      }
    }

    &::before {
      top: -23px;
    }

    &::after {
      bottom: -23px;
      transform: scaleY(1.25) rotate(180deg);
    }
  }

  &__thumb-y {
    position: absolute;
    width: 100%;
    background-color: var(--line);
  }

  &__rail-x {
    display: none !important;
  }
}

.rc-slider {
  border-radius: 0;
  &-rail {
    background-color: var(--line);
    border-radius: 0;
  }

  &-track {
    background-color: var(--black);
  }

  &-handle {
    top: 2px;
    flex-basis: 0;
    padding: 8px;
    border: 2px solid var(--black);
    background-color: var(--line);
    transition: background-color .2s linear;
    &:hover,
    &:focus,
    &-click-focused {
      background-color: var(--black);
      border: 2px solid var(--black);
    }

    &-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
      background-color: var(--black);
      border: 2px solid var(--black);
      box-shadow: none;
    }
  }
}

.rc-slider-size {
  width: 181px;
}

.rc-slider-dot {
  display: none;
}

.rc-slider-mark-text {
  color: var(--black);
  font-size: 14px;
}