@import 'styles/_mixins.scss';

.grid-masonry {

  position: relative;
  width: 1240px;
  max-width: 100%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;

  @include media('<desktop-sm') {
    margin-bottom: 0;
  }

  --msnry-gutter: 45px;

  @include media('<desktop-sm') {
    --msnry-gutter: 13px;
  }

  @include media('<desktop-sm') {
    --msnry-gutter: 7px;
  }

  &__sort {
    position: absolute;
    right: 0;
    bottom: 5px;
    display: flex;
    align-items: center;

    @include media('<desktop') {
      bottom: -80px;
    }

    @include media('<tablet') {
      bottom: -100px;
      flex-wrap: wrap;
      padding-top: 10px;
    }

    & .sort__label {
      margin-right: 20px;
      color: var(--black);

      @include media('<tablet') {
        margin-bottom: 5px;
      }
    }
  }

  &__item-sizer,
  &__item,
  &__item-fixed-card {
    width: calc((100% - var(--msnry-gutter) * 3) / 4);
  }

  &__item {
    margin-bottom: 32px;

    @include media('<tablet') {
      margin-bottom: 24px;
    }
  }

  &__item--empty {
    height: 1px;
    border: none;
    margin-bottom: 0;
    background-color: transparent;
  }

  @media (max-width: 1279px) {
    &__item-sizer,
    &__item,
    &__item-fixed-card {
      width: calc((100% - var(--msnry-gutter) * 2) / 3);
    }
  }

  @media (max-width: 767px) {
    &__item-sizer,
    &__item,
    &__item-fixed-card {
      width: calc((100% - var(--msnry-gutter)) / 2);
    }
  }

  &__item-gutter {
    width: var(--msnry-gutter);
  }

  &__item-fixed-card {
    position: absolute;
    top: 0;
    right: 0 !important;
    height: 480px;
    margin-bottom: 32px;

    &--hidden-fixed {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &__item-fixed-card {
      display: none;
    }
  }
}

.js-gallery {
  .grid-masonry__item-fixed-card {
    display: none;
  }
}