@import 'styles/_mixins.scss';

.share {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid var(--line);
    border-radius: 50%;
    transition: background-color var(--transition), border-color var(--transition);

    &:hover {
      border: 1px solid #333333;
      background-color: #333333;

      & .share__icon {
        fill: var(--white);
      }
    }
  }

  &__icon {
    width: 21px;
    height: 21px;
    fill: var(--dark-3);
    transition: fill var(--transition) ease;
  }
}