@import 'styles/_mixins.scss';

.similar-products {
  padding-top: 56px;
  padding-bottom: 70px;
  background-color: var(--light-gray);

  @include media('<desktop') {
    padding-top: 25px;
  }

  @include media('<tablet') {
    padding-top: 15px;
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: 11px;
  }

  &__section-line {
    margin-bottom: 32px;

    @include media('<tablet') {
      margin-bottom: 20px;
    }
  }

  &__card {
    width: 100%;
  }

  &__wrapper {
    position: relative;
  }

  &__slider-buttons {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 20px;

    @include media('<desktop-sm') {
      top: -10px;
    }

    @include media('<tablet') {
      top: 0;
      right: 0;
      left: 10px;
      display: flex;
      width: calc(100% - 20px);
      justify-content: space-between;
    }
  }

  & .slider-btn {
    @include media('<tablet') {
      width: 30px;
      height: 30px;
      background-color: transparent;

      &.slider-btn--left {
        right: auto;
        left: 0;
      }

      &.slider-btn--right {
        right: 0;
      }
    }
  }
}

.swiper-container-similar-products {
  overflow: hidden;

  @include media('<desktop') {
    overflow: visible;
    //margin-left: calc(-276px / 2 + 45px / 2);
  }

  @include media('<tablet') {
    overflow: hidden;
    padding-left: 0;
  }

  .swiper-slide {
    width: 276px;
  }
}

.similar-products__slider-btn {
  background: #000;
}