@import 'styles/_mixins.scss';

.product {
  &__breadcrumbs {
    margin-top: 81px;
    margin-bottom: 50px;

    @include media('<desktop') {
      margin-bottom: 37px;
    }

    @include media('<tablet') {
      margin-top: 52px;
      margin-bottom: 27px;
    }
  }

  &__product-card {
    padding-bottom: 70px;

    @include media('<desktop') {
      padding-bottom: 30px;
    }
  }
}