@import 'styles/_mixins.scss';

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity .2s ease;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open {
  overflow: hidden;
  height: 100%;
}

.modal {
  position: relative;
  z-index: 10000;
  display: block;

  &__overlay {
    z-index: 2000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow: auto;
    align-items: center;
    padding: 20px 0;
    margin: auto auto;
    background: rgba(0, 0, 0, 0.6);
  }

  &__container {
    position: relative;
    width: 720px;
    max-width: 90%;
    margin: auto auto;
    background-color: var(--white);
    border-radius: 0;

    padding-top: 50px;
    padding-right: 45px;
    padding-bottom: 50px;
    padding-left: 45px;

    @include media('<desktop') {
      padding-top: 45px;
      padding-right: 40px;
      padding-bottom: 40px;
      padding-left: 40px;
    }

    @include media('<tablet') {
      padding-top: 45px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
    }

    &--video {
      padding: 0;
      background-color: none;
      width: 720px;
      max-width: 90%;
      height: 480px;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;

    @include media('<tablet') {
      top: 15px;
      right: 15px;
      width: 14px;
      height: 14px;
    }

    &:hover {
      &::before,
      &::after {
        background-color: var(--hover);
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      width: 4px;
      height: 20px;
      background-color: var(--black);
      content: '';
      transition: background-color var(--transition);

      @include media('<tablet') {
        height: 16px;
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__question {
    text-align: center;

    @include media('<tablet') {
      display: flex;
      //justify-content: space-between;
    }
  }

  &__question-text {
    margin-right: 20px;
    color: var(--dark-3);
    font-size: 14px;
    font-weight: 400;

    @include media('<desktop') {
      margin-right: 10px;
      font-size: 12px;
    }

    @include media('<tablet') {
      margin-right: 2px;

      &--mobile-hidden {
        display: none;
      }
    }
  }

  &__question-btn {
    padding: 0;
    color: var(--dark-3);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    transition: color var(--transition);

    &:hover {
      color: var(--black);
    }

    @include media('<desktop') {
      font-size: 12px;
    }
  }

  &__title-sm {
    margin-bottom: 10px;
    color: var(--dark-2);
    font-size: 17px;
    font-weight: 400;

    @include media('<desktop') {
      font-size: 14px;
    }

    &--mobile-hidden {
      @include media('<tablet') {
        display: none;
      }
    }
  }
}

.modal-field.error {
  border: 1px solid var(--error);
}

.dashed {
  border-bottom: 1px dotted var(--black);
}

.error-message {
  display: inline-block;
  color: var(--error);
  font-size: 14px;

  @include media('<desktop') {
    bottom: -20px;
    font-size: 12px;
  }

  @include media('<tablet') {
    right: 0;
    left: auto;
    font-size: 10px;
  }
}

.form-autorize {
  margin: 0;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 25px;

      @include media('<desktop') {
        margin-bottom: 20px;
      }

      @include media('<desktop') {
        margin-bottom: 10px;
      }
    }
  }
}

.modal-label {
  color: var(--dark-2);
  font-size: 17px;
  font-weight: 400;

  @include media('<desktop') {
    font-size: 14px;
  }
}

.modal-field {
  position: relative;
  display: block;
  width: 100%;
  padding: 7px 17px;
  border: 1px solid var(--line);
  margin: 0;
  color: var(--dark-2);
  font-size: 17px;
  font-weight: 400;

  @include media('<desktop') {
    padding: 3px 10px;
    font-size: 14px;
  }
}

.modal[aria-hidden='false'], {
  .modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  .modal__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
}

.modal[aria-hidden='true'] {
  .modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  .modal__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
}