@import 'styles/_mixins.scss';

.social {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__link {
    display: block;
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--line);
    border-radius: 50%;
    transition: background-color var(--transition) ease;

    &:hover {
      background-color: var(--line);

      & .social__icon {
        fill: #1e2026;
      }
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    fill: var(--line);
    transition: fill var(--transition) ease;
  }
}