@import 'styles/_mixins.scss';

.sort-select {
  padding: 5px 0px;
  min-width: 276px;
  background-color: var(--white);
  border: 1px solid var(--white);
  font-family: inherit;
  font-size: 15px;
  color: var(--black);

  @include media('<desktop-sm') {
    min-width: calc((100vw - 50px) / 3);
  }

  @include media('<tablet') {
    min-width: calc((100vw - 30px) / 2);
  }

  &__single-value.sort-select__single-value {
    color: var(--black);
  }

  &__control.sort-select__control {
    border-radius: 0;
    border: none;
    outline: none;

    &:hover {
      border: none;
      box-shadow: none;
    }

    &--is-focused {
      border: none;
      box-shadow: none;
    }

    &--menu-is-open {
      .sort-select__dropdown-indicator::after {
        transform: rotate(180deg);
      }
    }
  }

  &__indicator-separator.sort-select__indicator-separator {
    display: none;
  }

  &__indicator.sort-select__dropdown-indicator {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 100%;

    svg {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 15px;
      right: 14px;
      width: 10px;
      height: 6px;
      background-image: url(/img/dropdown.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      color: #000;
    }
  }

  &__value-container.sort-select__value-container {
    padding: 4px 15px;
  }

  &__menu.sort-select__menu {
    border-radius: 0;
    margin: 0;
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.59);
  }

  &__control.sort-select__control {
    color: var(--black);
  }

  &__option.sort-select__option {
    color: var(--black);
    font-size: 14px;
    padding: 5px 10px;

    &--is-selected {
      background-color: var(--line);
      color: var(--white);

      &:hover {
        background-color: var(--line);
        color: var(--white);
      }
    }

    &--is-focused {
      background-color: var(--white);
      color: black;
    }

    &:hover {
      background-color: var(--dark-3);
      color: var(--white);
    }
  }
}