@import 'styles/_mixins.scss';

.style-review {
  padding-top: 50px;
  padding-bottom: 44px;
  background-color: #f8f8f9;

  @include media('<desktop-sm') {
    padding-top: 36px;
    padding-bottom: 38px;
  }

  @include media('<tablet') {
    padding-top: 36px;
    padding-bottom: 20px;
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    margin-bottom: 9px;
  }

  &__slide {
    display: flex;
    height: 100%;
    flex-direction: column;

    &:nth-child(even) {
      flex-direction: column-reverse;
    }

    @include media('<500px') {
      &:nth-child(even) {
        flex-direction: column;
      }
    }
  }

  &__section-line {
    margin-bottom: 50px;

    @include media('<tablet') {
      margin-bottom: 90px;
    }
  }

  &__slide-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 42px;

    @include media('<desktop-sm') {
      margin-bottom: 12px;
    }

    @include media('<500px') {
      margin-bottom: 20px;
    }
  }

  &__slide-col {
    width: 50%;

    &:not(:last-child) {
      margin-right: 42px;

      @include media('<desktop-sm') {
        margin-right: 12px;
      }

      @include media('<tablet') {
        margin-right: 6px;
      }
    }

    & .style-review__style-card {
      padding-top: calc(100% + 42px / 2);

      @include media('<desktop-sm') {
        padding-top: calc(100% + 12px / 2);
      }

      @include media('<500px') {
        padding-top: 0;

        & .style-card__img {
          height: calc(50vw - 6px);
        }
      }
    }
  }

  &__style-card {
    padding-top: 50%;

    @include media('<500px') {
      padding-top: 0;
    }
  }

  &__slider-buttons {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 20px;

    @include media('<desktop-sm') {
      top: -10px;
    }

    @include media('<tablet') {
      top: 60px;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.swiper-container-style-review {
  overflow: hidden;
  height: auto;

  .swiper-wrapper {
    height: auto;
  }

  // .swiper-slide {
  //   min-width: 0;
  // }
}

// style-card
