:root {

  //fonts
  --font-base: 'ProximaNova', sans-serif;

  //colors
  --dark-opacity: rgba(0, 0, 0, 0.8);
  --white: #ffffff;
  --black: #000000;
  --line: #cccccc;
  --light-gray: #f3f4f5;
  --gray: #ededed;
  --error: #990000;

  --sticker-dark: #990000;
  --sticker-light: #65b040;

  --hover: #009999;
  --dark-2: #2e3237;
  --dark-3: #666666;

  --title-lg: 36px;


  //decoration

  --transition: 0.3s;
}